# Editor
.idea/

# Datasource local storage ignored files
dataSources.local.xml

# Editor-based HTTP Client requests
http-client.private.env.json
rest-client.private.env.json

# PHPUnit
phpunit.xml

# Composer
vendor

.php_cs.cache
.phpunit.result.cache

ReflectionData.dat
