sudo: required

language: php
php:
  - '7.3'

services:
  - docker
addons:
  apt:
    packages:
      - docker-ce

install:
  - composer install --ignore-platform-reqs

script:
  - docker-compose -f docker-compose.yml build >/dev/null
  - docker-compose -f docker-compose.yml run php /opt/project/phpstorm-stubs/vendor/bin/phpunit /opt/project/phpstorm-stubs/tests/
  - ./tests/check-stub-map
