<phpunit bootstrap="vendor/autoload.php" failOnWarning="false" cacheResult="false">
    <testsuites>
        <testsuite name="General">
            <file>tests/ClassValidatorTest.php</file>
            <file>tests/InterfaceValidatorTest.php</file>
            <file>tests/EnumValidatorTest.php</file>
            <file>tests/ConstantValidatorTest.php</file>
            <file>tests/FunctionValidatorTest.php</file>
            <file>tests/MetaFileValidatorTest.php</file>
        </testsuite>
        <testsuite name="PhpDoc">
            <file>tests/PhpDocValidatorTest.php</file>
        </testsuite>
        <testsuite name="Structure">
            <file>tests/StubsStructureValidatorTest.php</file>
            <file>tests/PhpVersionsSyncTest.php</file>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
