<phpunit bootstrap="vendor/autoload.php"
         failOnWarning="true">
    <testsuites>
        <testsuite name="PhpDoc">
            <file>tests/StubsPhpDocTest.php</file>
        </testsuite>
        <testsuite name="Structure">
            <file>tests/CheckStubMapTest.php</file>
            <file>tests/StubsStructureTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
